@model JamesAmos.Models.HomePage
@using Microsoft.AspNetCore.Identity
@using JamesAmos.Models

@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "_Layout";
}

    <main class="mb-10">
        <div class="container-fluid p-0">
            <div class="site-content" style="background-image: url('@Model.HeaderImageUrl');">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column">
                        <h1 class="site-title">@Model.HeaderTitle</h1>
                        <h2 class="site-desc">
                            @Model.HeaderSubTitle
                        </h2>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
        @if (signInManager.IsSignedIn(User))
        {
    <form asp-action="Edit">
        <input name="id" value="@Model.ID" type="hidden" />
        <button class="btn border">Edit Home Page Mr. James Amos</button>
    </form>
        }
        <div class="section-1">
            <div class="container text-center">
                <h1 class="heading-1">@Model.WhyTitle1</h1>
                <p class="para-1">
                    @Model.WhyText1
                </p>

                <div class="row justify-content-center text-center">

                    <div class="col-md-4">

                        <div class="card">
                            <img src="@Model.CardOneImageUrl" class="card-img-top" />
                            <div class="card-body">
                                <h4 class="card-title">@Model.CardOneTitle</h4>
                                <p class="card-text">@Model.CardOneText</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="card">
                            <img src="@Model.CardTwoImageUrl" />
                            <div class="card-body">
                                <h3 class="card-title">Verse of the Day</h3>
                                <h5>Book: @Model.DailyVerse.Book Chapter: @Model.DailyVerse.Chapter Verse: @Model.DailyVerse.Number</h5>
                                <p class="card-text">@Model.DailyVerse.Verse</p>
                                <a href="https://theysaidso.com">theysaidso.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="card">
                            <img src="@Model.CardThreeImageUrl" class="card-img-top" />
                            <div class="card-body">
                                <h4 class="card-title">@Model.CardThreeTitle</h4>
                                <p class="card-text">@Model.CardThreeText </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section-3">
            <div class="container text-center">
                <h1 class="commit">@Model.CommitmentHeader</h1>

                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fas-question fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">@Model.CommitTitle1</h3>
                                <p class="m-2">
                                    @Model.CommitText1
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fas-question fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">@Model.CommitTitle2</h3>
                                <p class="m-2">
                                    @Model.CommitText2
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fas-question fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">@Model.CommitTitle3</h3>
                                <p class="m-2">
                                    @Model.CommitText3
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
<br />
<br />

